/*Generic non-normalization CSS*/
html {
  font-family: 'Karla', sans-serif;
  background-color: whitesmoke;
}

/*Page layout*/
#page_container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.search .search--input-container .search--input:focus,
.search .search--input-container .search--input:active,
nav.install-app .install-app--btn:focus,
nav.install-app .install-app--btn:active {
  outline: 0;
  outline-style:none;
  outline-width:0;
}

/*Header*/
header {
  display: flex;
  box-shadow: 0 2px 8px 1px #afafaf;
  padding: 0.8em;
}

header .header--img {
  height: 55px;
}

header .header--text-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1em;
}

header .header--title,
header .header--subtitle {
  margin: 0;
}

header .header--title {
  font-weight: bold;
  font-size: 1.7em;
}

header .header--subtitle {
  font-size: 0.9em;
}

/*Search form*/
.search {
  display: block;
}

.search--input-container {
  display: flex;
  justify-content: center;
}

.search--input-label {
  display: none;
}

.search--input {
  max-width: 300px;
  width: 60%;
  min-width: 200px;
  border-radius: 20px;
  border: 1px solid #cccccc;
  height: 2.6em;
  padding: 0 0.8em;
}

/*Content*/
.upper-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section.content {
  margin: 3em 0.4em;
}

/*Install app*/
nav.install-app {
  display: none;
}

nav.install-app .install-app--btn {
  height: 2.6em;
  width: 4.5em;
  border: 0;
  border-radius: 1.4em;
  background-color: rgb(37, 37, 37);
}

nav.install-app .install-app--btn img {
  height: 2.1em;
}

/*Results grid*/
.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 1rem;
  margin-top: 3rem;
}

.results .grid-item {
  padding: 0.2em;
  background-color: white;
  text-decoration: none;
  color: initial;
  box-shadow: 1px 1px 9px 0 #d6d6d6;
}

.results .grid-item .grid-item--figure {
  margin: 0;
}

.results .grid-item .grid-item--image {
  object-fit: cover;
  width: 100%;
  height: 210px;
}

.results .grid-item .grid-item--info {
  font-size: 0.9em;
  font-weight: lighter;
  margin: 0.8em 0;
  text-align: center;
}

/*Footer*/
footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5em;
  box-shadow: 0 -2px 8px 1px #afafaf;
  margin: auto 0 0 0;
}

footer .uphere-logo {
  margin: 0 1em 0 0;
}

footer .uphere-logo .uphere-logo--image {
  height: 32px;
  border: 1px dashed #5f5f5f;
  padding: 3px;
  background-color: white;
}

footer .uphere-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/*Details page*/
section.sat-details {
  display: flex;
  flex-flow: column;
  margin: 3em 1em;
  padding: 1em;
  background-color: white;
  box-shadow: 0 2px 8px 1px #afafaf;
}

section.sat-details .sat-details--title,
section.sat-details .sat-details--subtitle {
  margin: 0 0 0.4em 0;
}

section.sat-details .sat-details--figure {
  margin: 0 0 2em 0;
}

section.sat-details .sat-details--figure .sat-details--img {
  max-width: 100%;
}

section.sat-details .sat-details--figure .sat-details--img-caption {
  margin-top: 0.5em;
}

section.sat-details .sat-details--info-grid,
section.sat-details .sat-details--location-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 0;
  margin-bottom: 2em;
}

section.sat-details .sat-details--info,
section.sat-details .sat-details--location {
  padding: 0.6em 0.4em;
  margin: 0;
  border-top: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
}

section.sat-details .sat-details--info:last-of-type,
section.sat-details .sat-details--location:last-of-type {
  border-bottom: 1px solid #d5d5d5;
}

section.sat-details .sat-details--info > span,
section.sat-details .sat-details--location > span {
  font-weight: bold;
}

.modal-background {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-background.active {
  display: flex;
}

.modal-background .modal {
  background-color: white;
  max-width: 500px;
  margin: 0 2em;
  padding: 1em 2em;
}

.modal-background .modal .modal-title {
  font-size: 1.3em;
}

.modal-background .modal .modal-text {
  font-weight: normal;
  font-size: 1.05em;
}

.modal .modal-buttons {
  display: flex;
  justify-content: center;
}

.modal .modal-buttons .modal-button {
  height: 2.5em;
  width: 100px;
  margin: 0 1em;
  font-weight: bold;
}

.modal .modal-buttons .modal-button.accept {
  background-color: #2c2c2c;
  color: white;
  border: 0;
}
